<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        img {
  display: block;
   width: 400px;
   height: 400px;
  margin-left: auto;
  margin-right: auto;
}

    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EHOME</title>
</head>
<body>
<div class="ui menu">

  <a class="item" href="{{url_for('enterdata')}}">Registration</a>
    <a class="item" href="{{url_for('licences')}}">View List</a>
  <div class="right menu">
    <a class="item" href="{{url_for('login')}}">Logout</a>
  </div>
</div>
{{m1}}
    <img src="{{url_for('static',filename='qr-code.png')}}" >
</body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</html>