<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .center {
  padding: 70px 0;
  font-size:30px;
  text-align: center;
}
    </style>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
<div class="ui menu">

  <a class="item" href="{{url_for('index')}}">Home</a>
  <div class="right menu">
    <a class="item" href="{{url_for('login')}}">Login</a>
  </div>
</div>
<div class="center">
    <p>
        <h1>LICENSE DETECTION USING QR CODE</h1>
</p>
</div>

</body>
</html>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>